Repository trim21/flexget-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry:
  name: poetry
  entry: poetry check
  language: system
  pass_filenames: false
  require_serial: false

Add renovate.json
  renovate.json
Due: none

chore: add github workflow and renovate
  .github/renovate.json
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/lint.yaml
  .github/workflows/matcher/flake8.json
  .github/workflows/matcher/pylint.json
  .github/workflows/release.yaml
  pyproject.toml
  readme.md
  tests/test_magnet_add_dn.py
  trim21_flexget_plugins/modify/magnet_add_dn.py
Due: black, poetry

ci: remove extra
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/lint.yaml
Due: none

ci: fix coverage
  .github/workflows/ci.yaml
Due: none

ci: add missing deps
  poetry.lock
  pyproject.toml
Due: poetry

ci: add prettier
  .github/renovate.json
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/lint-other.yaml
  .github/workflows/matcher/pylint.json
  .pre-commit-config.yaml
Due: none

ci: remove py36
  .github/workflows/ci.yaml
Due: none

ci: remove py36
  .github/workflows/codeql-analysis.yaml
Due: none

ci: fix install
  .github/workflows/lint.yaml
Due: none

chore: add lint
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_magnet_add_dn.py
  trim21_flexget_plugins/modify/magnet_add_dn.py
Due: black, poetry

style: fix mypy
  trim21_flexget_plugins/modify/magnet_add_dn.py
Due: black

chore: remove useless logger
  trim21_flexget_plugins/modify/magnet_add_dn.py
Due: black

docs: update readme
  readme.md
Due: none

bump: 0.0.1
  pyproject.toml
Due: poetry

chore(dev): pin dependencies
  poetry.lock
  pyproject.toml
Due: poetry

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore: update pre-commit config (#5)
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: none

fix: flexget plugin register
  pyproject.toml
Due: poetry

bump: 0.0.2
  pyproject.toml
Due: poetry

chore: update pre-commit hooks (#6)
  .pre-commit-config.yaml
Due: none

Update renovate.json
  .github/renovate.json
Due: none

chore(dev): update deps-dev
  pyproject.toml
Due: poetry

chore: remove deps
  .github/workflows/matcher/flake8.json
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry

ci: remove flake8
  .github/workflows/lint.yaml
Due: none

chore(dev): update dependency coverage to v6
  poetry.lock
  pyproject.toml
Due: poetry

chore: update pre-commit hooks (#11)
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks (#12)
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: \.py$
  poetry: any of: pyproject.toml
